.box {
    height: 150px;
    width: 150px;
    float: left;
    background-color: #ccc;
}
@for $i from 1 through 5 {
    .box-#{$i} {
        background-color: darken(white, $i * 5%);
    }
}

// Sass map
$themes: (
    // key, value
    'primary':blue,
    'danger':red,
    'secondary':orange
);

// 大量取出顏色
@each $key, $value in $themes {
    .box-#{$key} {
        background-color: $value;
    }
};

// 若要單次取出顏色
.box-primary {
    background-color: map-get($themes, 'primary');
}