// $自訂變數名稱：變數;
$link-color: #ff0000;
// 數字運算
$font-s: 16px-3px;
$font-m: 16px;
$font-l: 18px;
$font-xl: $font-l * 2;
// 字體
$font-family-base: "Helvetica,Arial,sans-serif";
$font-family-title: "monospace";
// 顏色
$base-color: #008000;