// 載入 _variable.scss
@import "variable";

body {
    font-family: $font-family-base;
}

.menu {
    li {
        font-size: 30px;
        a {
            color: $link-color;
            font-size: $font-s;
            &:hover {
                // & 為連結詞，可連結上一層結構
                color: blue;
            }
        }
    }
    h3 {
        line-height: 1;
    }
    h4 {
        font-size: $font-xl;
        color: $link-color;
    }
}

.header {
    h1 {
        font-size: $font-l;
    }
}

.content {
    h2 {
        font-family: $font-family-title;
    }
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background: $base-color;
}
.box2 {
    background: darken($base-color, 20%);
}
.box2 {
    background: lighten($base-color, 30%);
}